.containerServicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  justify-content: space-around;
  max-width: 1200px;
  margin-bottom: 20px;
  width: 100%;
  background-color: black;
}
