.containerPreguntasFrecuentes {
    max-width: 550px !important;
    min-width: 300px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.preguntas {
    width: 95%;
    margin-bottom: 20px;
}

#accordion {
    box-sizing: content-box;
}

#accordion .card {
    margin-top: 1em;
}

.preguntas button {
    font-size: 70%;
}

#headingOne, #headingTwo, #headingThree, #headingFour, #headingFive, #headingSix, #headingSeven {
    color: green;
}

@media (min-width:600px) {
    .containerPreguntasFrecuentes {
        max-width: 750px !important;
        min-width: 600px !important;
    }

    .preguntas button {
        font-size: 100%;
    }
}

@media (min-width:800px) {
    .containerPreguntasFrecuentes {
        max-width: 1000px !important;
        min-width: 1000px !important;
    }
}
